.photo-report {
    &__title {
        font-size: 2.5rem;
        font-weight: 300;
    }
    
    &__filter {
        display: flex;
        flex-wrap: wrap;

        .selected {
            background-color: #294e47;
            color: white;
            border: none;
        }

        button {
            margin: 0.5rem 1rem;
            background-color: white;
            border: none;
            border: 1px solid gray;
            font-size: 1.25rem;
            font-weight: 200;
            padding: 0.25rem 1rem;
            border-radius: 6px;
            &:hover {
                background-color: rgba(41, 78, 71, 0.85);
                color: white;
            }
        }
    }

    &__content {
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        border: 2px dashed #294e47;
        justify-content: center;
        span {
            text-align: center;
            font-size: 1.25rem;
            font-weight: 200;
            width: 100%;
            transform: translateY(-2px);
            padding: 0.25rem 1rem;
            background-color: #294e47;
            color: white;
        }
    }

    img {
        cursor: pointer;
        margin: 0 1rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        border-radius: 12px;
        height: 20vw;
        width: 20vw;
        &:hover {
            opacity: 85%;
        }
    }
    &__empty {
        display: flex;
        flex-direction: column;
        text-align: center;
        i {
            color: #294e47;
            font-size: 24vw;
        }
        &__title {
            font-size: 2rem;
            font-weight: 200;
        }
    }
}